# Arquivos e pastas do Android Studio
*.iml
.gradle/
.idea/
local.properties

# Pastas de build
/build/
/app/build/
/.cxx/
/.externalNativeBuild/
captures/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp
*.temp

# APKs e artefatos de build
*.apk
*.ap_

# Keystores e arquivos sensíveis
*.jks
*.keystore
*.key
